
 #nosotros-banner {
     background-image: url(../img/banners/slider-mobile001.jpg);
     background-size: cover;
     background-position: top center;
     background-repeat: no-repeat;
 }

 @media only screen and (min-width:576px) {
     #nosotros-banner {
         background-image: url(../img/banners/slider001.jpg);
     }

 }
