
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .display-3 {
    font-size: 4.5rem;
    }
    .display-4 {
        font-size: 3.5rem;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .altura-min {
         min-height: 450px;
     }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
