#soluciones-banner{
    background-image: url(../img/banners/slider002.jpg);
    background-size: cover;
    background-position: top center;
}

 @media only screen and (min-width:576px) {
     #soluciones-banner {
         background-image: url(../img/banners/slider002.jpg);
     }

 }
